Mid Term Exam 2 - Section 2: Robert Daniels
04/21/2022

Section 2: Q1

In [104]:
import pandas as pd

In [105]:
df = pd.read_csv('accidental_drug_related_deaths.csv', index_col=0)

Section 2: Q2

In [106]:
df.head(3)

,Date,DateType,Age,Gender,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,Location,DescriptionofInjury,COD,MannerofDeath
ID,,,,,,,,,,,,,,
14-0273,6/28/2014 0:00,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,substance,"Acute fent, hydrocod, benzodiazepine",Accident
13-0102,3/21/2013 0:00,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,Hospital,NaN,Cocaine Intoxication,Accident
16-0165,3/13/2016 0:00,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,Hospital,Substance Abuse,Acute Heroin and Cocaine Intoxication,Accident

Section 2: Q3

In [107]:
df.tail(7)

,Date,DateType,Age,Gender,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,Location,DescriptionofInjury,COD,MannerofDeath
ID,,,,,,,,,,,,,,
14-0166,4/17/2014 0:00,DateofDeath,56.0,Male,White,PLYMOUTH,NaN,NaN,PLYMOUTH,LITCHFIELD,Residence,Ingestion,Methadone Intoxication,Accident
15-0013,1/7/2015 0:00,DateReported,45.0,Female,White,WATERBURY,NEW HAVEN,CT,WATERBURY,NEW HAVEN,Residence,NaN,Intoxication due to the combined effects of Co...,Accident
15-0466,9/8/2015 0:00,DateReported,43.0,Male,White,CHESHIRE,NEW HAVEN,CT,CHESHIRE,NEW HAVEN,Residence,NaN,Acute Intoxication due to the Combined Effects...,Accident
17-0618,7/22/2017 0:00,DateReported,21.0,Male,White,MADISON,NEW HAVEN,CT,NEW HAVEN,NEW HAVEN,Hospital,Drug Abuse,"Multidrug Toxicity Including Heroin, Alprazola...",Accident
18-0646,8/14/2018 0:00,DateofDeath,30.0,Male,White,LAWRENCEVILLE,TIOGA,PA,DANBURY,FAIRFIELD,Other,Drug abuse,"Multidrug Toxicity Including Heroin, Fentanyl,...",Accident
14-0124,3/16/2014 0:00,DateofDeath,33.0,Male,White,HARTFORD,NaN,NaN,WINDSOR,NaN,Other,Substance Abuse,Acute Fentanyl intoxication,Accident
16-0637,9/15/2016 0:00,DateofDeath,33.0,Male,White,THOMASTON,LITCHFIELD,CT,WATERBURY,NaN,Other,Substance Abuse,Acute Heroin Intoxication,Accident

Section 2: Q4

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5105 entries, 14-0273 to 16-0637
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 5103 non-null   object
 1   DateType             5103 non-null   object
 2   Age                  5102 non-null   float64
 3   Gender               5099 non-null   object
 4   Race                 5092 non-null   object
 5   ResidenceCity        4932 non-null   object
 6   ResidenceCounty      4308 non-null   object
 7   ResidenceState       3556 non-null   object
 8   DeathCity            5100 non-null   object
 9   DeathCounty          4005 non-null   object
 10  Location             5081 non-null   object
 11  DescriptionofInjury  4325 non-null   object
 12  COD                  5105 non-null   object
 13  MannerofDeath        5095 non-null   object
dtypes: float64(1), object(13)
memory usage: 598.2+ KB

Section 2: Q5

In [109]:
df.rename(columns={
    'DescriptionofInjury': 'InjuryDescription'
}, inplace=True)

Section 2: Q6

In [110]:
df.columns = [col.lower() for col in df]

Section 2: Q7

In [111]:
df.isnull().sum()

date                    2
datetype                2
age                     3
gender                  6
race                   13
residencecity         173
residencecounty       797
residencestate       1549
deathcity               5
deathcounty          1100
location               24
injurydescription     780
cod                     0
mannerofdeath          10
dtype: int64

Section 2: Q8

In [112]:
age_mean = df['age'].mean()
print(f"The raw average of the age column is {age_mean}.")

The raw average of the age column is 41.96491571932575.

Section 2: Q9

In [113]:
df['Average Age'] = age_mean

Section 2: Q10

In [114]:
df[df['location'] == 'Hospital']

,date,datetype,age,gender,race,residencecity,residencecounty,residencestate,deathcity,deathcounty,location,injurydescription,cod,mannerofdeath,Average Age
ID,,,,,,,,,,,,,,,
13-0102,3/21/2013 0:00,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,Hospital,NaN,Cocaine Intoxication,Accident,41.964916
16-0165,3/13/2016 0:00,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,Hospital,Substance Abuse,Acute Heroin and Cocaine Intoxication,Accident,41.964916
16-0208,3/31/2016 0:00,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,NaN,Hospital,substance abuse,Acute Fentanyl and Morphine Intoxication,Accident,41.964916
13-0052,2/13/2013 0:00,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,FAIRFIELD,Hospital,Transdermal Absorption,Fentanyl Intoxication,Accident,41.964916
13-0404,11/10/2013 0:00,DateofDeath,40.0,Female,White,HAMDEN,NEW HAVEN,NaN,NEW HAVEN,NEW HAVEN,Hospital,NaN,Complications of Cocaine Intoxication,Accident,41.964916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17-0242,3/22/2017 0:00,DateReported,58.0,Female,White,BRIDGEPORT,FAIRFIELD,CT,BRIDGEPORT,FAIRFIELD,Hospital,Substance Abuse,Acute Intoxication due to the Combined Effects...,Accident,41.964916
12-0222,8/27/2012 0:00,DateofDeath,71.0,Male,"Hispanic, White",NEW HAVEN,NEW HAVEN,NaN,NEW HAVEN,NEW HAVEN,Hospital,Multiple Drug Use,Multiple Drug Toxicity,Accident,41.964916
15-0508,9/28/2015 0:00,DateReported,21.0,Male,White,WILTON,FAIRFIELD,CT,WILLIMANTIC,WINDHAM,Hospital,NaN,Acute Heroin and Alprazolam Intoxication,Accident,41.964916
16-0043,1/21/2016 0:00,DateofDeath,29.0,Male,White,ELLINGTON,TOLLAND,CT,HARTFORD,NaN,Hospital,Substance Abuse,Complications following Acute Heroin Intoxication,Accident,41.964916
17-0618,7/22/2017 0:00,DateReported,21.0,Male,White,MADISON,NEW HAVEN,CT,NEW HAVEN,NEW HAVEN,Hospital,Drug Abuse,"Multidrug Toxicity Including Heroin, Alprazola...",Accident,41.964916