Final: DS 240. Data Cleaning work

In [104]:
import pandas as pd
import numpy as np

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.model_selection import learning_curve
# from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [105]:
windDF = pd.read_csv('wind_dataset.csv', index_col=0)
windDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WIND     6574 non-null   float64
 1   IND      6574 non-null   int64
 2   RAIN     6574 non-null   float64
 3   IND.1    6513 non-null   float64
 4   T.MAX    5953 non-null   float64
 5   IND.2    6513 non-null   float64
 6   T.MIN    5900 non-null   float64
 7   T.MIN.G  6214 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 462.2+ KB

In [106]:
windDF.head()

             WIND  IND  RAIN  IND.1  T.MAX  IND.2  T.MIN  T.MIN.G
DATE
1961-01-01  13.67    0   0.2    0.0    9.5    0.0    3.7     -1.0
1961-01-02  11.50    0   5.1    0.0    7.2    0.0    4.2      1.1
1961-01-03  11.25    0   0.4    0.0    5.5    0.0    0.5     -0.5
1961-01-04   8.63    0   0.2    0.0    5.6    0.0    0.4     -3.2
1961-01-05  11.92    0  10.4    0.0    7.2    1.0   -1.5     -7.5

In [107]:
windDF.rename(columns={
    'WIND': 'avgWindSpeed',
    'T.MAX': 'maxTemp',
    'T.MIN': 'minTemp',
    'T.MIN.G': 'grossMinTemp'

}, inplace=True)

In [108]:
windDF.drop(['IND', 'IND.1', 'IND.2'], axis=1, inplace=True)

In [109]:
windDF.isnull().sum()

avgWindSpeed      0
RAIN              0
maxTemp         621
minTemp         674
grossMinTemp    360
dtype: int64

In [110]:
windDF.maxTemp = windDF.maxTemp.fillna(windDF.maxTemp.mean())
windDF.minTemp = windDF.minTemp.fillna(windDF.minTemp.mean())
windDF.grossMinTemp = windDF.grossMinTemp.fillna(windDF.grossMinTemp.mean())
windDF.isnull().sum()

avgWindSpeed    0
RAIN            0
maxTemp         0
minTemp         0
grossMinTemp    0
dtype: int64

In [111]:
windDF.head()
windDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   avgWindSpeed  6574 non-null   float64
 1   RAIN          6574 non-null   float64
 2   maxTemp       6574 non-null   float64
 3   minTemp       6574 non-null   float64
 4   grossMinTemp  6574 non-null   float64
dtypes: float64(5)
memory usage: 308.2+ KB

In [112]:
windDF.corr()

              avgWindSpeed      RAIN   maxTemp   minTemp  grossMinTemp
avgWindSpeed      1.000000  0.120876 -0.230302 -0.087851      0.012424
RAIN              0.120876  1.000000 -0.041087  0.010255      0.026642
maxTemp          -0.230302 -0.041087  1.000000  0.786002      0.635400
minTemp          -0.087851  0.010255  0.786002  1.000000      0.843865
grossMinTemp      0.012424  0.026642  0.635400  0.843865      1.000000