In [176]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [177]:
df = pd.read_csv("StudentInfo.csv")
print(df.dtypes)

student_id          int64
student_number     object
gender             object
age               float64
credits_earned      int64
gpa               float64
school             object
phone              object
dream_job          object
dtype: object

In [178]:
df60 = df[(df.credits_earned > 60)]
print(df60['gpa'].mean())

3.070450450450451

In [179]:
print(sum(df['gender'].isnull()))

0

In [180]:
df['gender'] = df['gender'].str.strip()
df['gender'] = df['gender'].replace(['Male'],'M')
df['gender'] = df['gender'].replace(['Female'],'F')

In [181]:
dfMale = df[(df.gender == "M")]
print(dfMale['age'].mean())

22.509881422924902

In [182]:
dfFemale = df[(df.gender == "F")]
print(dfFemale['gender'].value_counts())

F    241
Name: gender, dtype: int64

In [183]:
print(dfFemale['gpa'].describe())

count    233.000000
mean       3.044893
std        0.579478
min        2.000000
25%        2.530000
50%        3.070000
75%        3.530000
max        4.000000
Name: gpa, dtype: float64

In [184]:
df = df.dropna(subset=['age'])

In [185]:
dfInvalidAge = df[(df.age > 110) | (df.age < 0)]
print(dfInvalidAge['age'].describe())

count      4.000000
mean      52.250000
std       78.108365
min      -25.000000
25%      -10.000000
50%       56.000000
75%      118.250000
max      122.000000
Name: age, dtype: float64

In [186]:
df = df[(df.age > 0) & (df.age <= 110)]
print(df['age'].describe())

count    482.000000
mean      21.574689
std        2.910948
min       17.000000
25%       19.000000
50%       22.000000
75%       24.000000
max       26.000000
Name: age, dtype: float64

In [187]:
df[df.age<100]

,student_id,student_number,gender,age,credits_earned,gpa,school,phone,dream_job
0,1,74-1372606,M,20.0,119,2.47,Universität Köln,707-856-9988,Tax Accountant
1,2,76-7956477,F,19.0,3,3.77,"Bourgas University ""Prof. Assen Zlatarov""",580-393-8890,Associate Professor
2,3,92-1385513,F,18.0,101,3.68,Guru Gobind Singh Indraprastha University,577-542-6202,Administrative Assistant IV
3,4,78-1489862,M,18.0,95,2.71,"California State University, Dominguez Hills",856-910-3755,Physical Therapy Assistant
4,5,03-2540883,F,17.0,63,3.09,"University of Gjirokstra ""Eqerem Cabej""",149-113-4939,Assistant Manager
...,...,...,...,...,...,...,...,...,...
495,496,83-1790524,M,24.0,82,2.60,Vancouver Community College,511-293-8180,Associate Professor
496,497,07-7055429,F,24.0,62,3.41,University of Asia and the Pacific,909-457-2311,Senior Cost Accountant
497,498,37-0902632,M,17.0,111,2.12,Universidad Nacional Jorge Basadre Grohmann,749-439-6804,GIS Technical Architect
498,499,18-1895879,F,23.0,54,3.52,Universidad de Playa Ancha de Ciencias de la E...,765-568-5110,Chief Design Engineer
499,500,74-4661951,F,24.0,86,3.91,Karunya Institute Of Technology ( Deemed Unive...,727-439-0926,Assistant Professor