# Python Pandas - DataFrame Tutorial - Hands On

## What's Pandas?

- Term Pandas derived from term "panel data", an econometrics term for data sets that include observations over multiple time periods for same individuals. 

- Pandas is a high-level data manipulation tool built on Numpy package and its key data structure is called DataFrame. 

- Data in pandas is used for statistical analysis in SciPy, plotting functions in Matplotlib, and machine learning algorithms in Scikit-learn. 

- DataFrames allow us to store and manipulate tabular data in rows of observations and columns of variables.

## Core components of pandas: Series and DataFrames

- Primary two components of pandas are Series and DataFrame.
- A Series is a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.
- DataFrames and Series are similar, many operations that can be done in one can be done with the other.

***=============================================================================================================***
<br>
*** PART - 1 ***
<br>
***=============================================================================================================***

## Creating DataFrames - Using Datasets

### Read data from CSV files to create dataframe

In [ ]:
# First step is to import Pandas library…

import pandas as pd

In [ ]:
df = pd.read_csv('purchases.csv')

In [ ]:
#Display values in data frame

df

- CSVs don't have indexes like DataFrames.
- Hence, we can designate index_col when reading file.

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

In [ ]:
#Display values in data frame

df

## Most important DataFrame operations

- DataFrames support many methods and operations that are crucial to any analysis. 
- Let's load IMDB movies dataset from a CSV and designate movie titles to our index.

In [ ]:
movies_df = pd.read_csv("moviedata.csv", index_col="Title")

### Viewing Movie data

- First thing to do when opening new dataset is print out few rows to preview data. 
- We do this with `.head()`.

In [ ]:
movies_df.head()

- `.head()` outputs **first** five rows of DataFrame by default.
- But we could also pass a number as well: `movies_df.head(3)` to view top three rows.

In [ ]:
movies_df.head(3)

- To preview **last** five rows use `.tail()`. 
- `tail()` also accepts a number, and we preview bottom two rows.:

In [ ]:
movies_df.tail(2)

### Getting info about your data

- `.info()` provides essential details about our dataset, such as number of rows and columns.
- number of non-null values, what type of data is in each column, and how much memory our DataFrame is using.

In [ ]:
movies_df.info()

- Another useful command is `.shape`, which outputs a tuple of (rows, columns):

In [ ]:
movies_df.shape

- Note that `.shape` has no parentheses and is a simple tuple of format (rows, columns). 
- So we have **1000 rows** and **11 columns** in our movies DataFrame.

### Handling duplicates

- Our dataset does not have duplicate rows, but it is important to verify it anytime we load dataset. 

To demonstrate, let's simply just double up our movies DataFrame by appending it to itself:

In [ ]:
dup_df = movies_df.append(movies_df)

dup_df.shape

- Using `append()` will return a copy without affecting original DataFrame. 
- We are capturing this copy in `dup_df` without impacting our original 'movies_df' data.

**Now we can try dropping duplicates:**

In [ ]:
dup_df = dup_df.drop_duplicates()

dup_df.shape

- If we want to work on a dataset and assign result to same dataset as above, there is a better way of doing it.
- Pandas has `inplace` keyword argument on many of its methods. 
- Using `inplace=True` will modify DataFrame object in place as shown below:

In [ ]:
dup_df.drop_duplicates(inplace=True)

Another important argument for `drop_duplicates()` is `keep`, which has three possible options:

* `first`: (default) Drop duplicates except for first occurrence.
* `last`: Drop duplicates except for last occurrence.
* `False`: Drop all duplicates.

- If not defined, it defaults to `first`. 
- `False`,will drop all duplicates. 
- If two rows are the same then both will be dropped.

In [ ]:
# See what happens to `dup_df`, when we use 'False':

dup_df = movies_df.append(movies_df)  # make a new copy

dup_df.drop_duplicates(inplace=True, keep=False)

dup_df.shape

Since all rows were duplicates, `keep=False` dropped them all resulting in zero rows being left over.

### Column Names cleanup

- Sometimes, we may not have the desired column names in our datasets. 
- It is possible to overwrite the column names, if needed.

Here's how to print the column names of our dataset:

In [ ]:
movies_df.columns

We can use `.rename()` method to rename certain or all columns via a `dict`.

In [ ]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

- What if we want to lowercase all names? 
- Instead of using `.rename()` we could assign a list of names to columns:

In [ ]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies_df.columns

- Converting to lower case, one at a time is too much work. 
- Instead of just renaming each column manually we can do this:

In [ ]:
movies_df.columns = [col.lower() for col in movies_df]

movies_df.columns

### How to work with missing values

- Most commonly we will see Python's `None` or NumPy's `np.nan`.<br>  

**There are two options in dealing with nulls:**<br> 

- Get rid of rows or columns with nulls
- Replace nulls with non-null values, a technique known as **imputation**<br><br>

- Let's calculate total number of nulls in each column of our dataset. 
- First step is to check which cells in our DataFrame are null:

In [ ]:
movies_df.isnull()

- `isnull()` returns DataFrame where each cell is either True or False depending on that cell's null status.

- To count the number of nulls in each column we use an aggregate function for summing:

In [ ]:
movies_df.isnull().sum()

`.isnull()` just by iteself isn't very useful, and is usually used in conjunction with other methods, like `sum()`.

We can see now that our data has **128** missing values for `revenue_millions` and **64** missing values for `metascore`.

#### Removing rows with null values

Overall, removing null data is only suggested if we have a small amount of missing data.

Removing rows with nulls is pretty simple:

In [ ]:
movies_df.dropna()

**We can also drop columns with null values by setting `axis=1`:**

In [ ]:
movies_df.dropna(axis=1)

In [ ]:
movies_df.shape

***=============================================================================================================***
<br>
*** PART - 2 ***
<br>
***=============================================================================================================***

### Replacing Missing Values

- There may be times where dropping every row with null value removes too much from our dataset.
- So instead we can replace null with another value, mostly **mean** or **median** of that column.<br>

In [ ]:
#Replacing missing values in revenue_millions column. 
revenue = movies_df['revenue_millions']

We can use square brackets to select columns in a DataFrame. 

`revenue` now contains a Series:

In [ ]:
revenue.head()

Different formatting than a DataFrame, but still has `Title` index. 

- We can replace missing values of revenue using mean.

In [ ]:
#Calculating mean value for revenue:
revenue_mean = revenue.mean()

In [ ]:
revenue_mean

Fill nulls with Revenue Mean using `fillna()`:

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

- We have replaced all nulls in `revenue` with mean of the column. 
- By using `inplace=True` we have updated the original `movies_df`:

In [ ]:
movies_df.isnull().sum()

### Understanding dataset variables

Using `describe()` on entire DataFrame, we can get summary of distribution of continuous variables:

In [ ]:
movies_df.describe()

In [ ]:
movies_df['actors'].describe()

Genre column has 207 unique values, top value is Action/Adventure/Sci-Fi, which shows up 50 times (freq).

`.value_counts()` can tell frequency of all values in a column:

In [ ]:
movies_df['actors'].value_counts().head(10)

#### Relationships between continuous variables

We can use correlation method `.corr()` to generate relationship between each continuous variable:

In [ ]:
movies_df.corr()

- Positive numbers indicate a positive correlation — If one goes up other also goes up.<br> 
- Negative numbers represent an inverse correlation — If one goes up other goes down.<br> 
- 1.0 indicates a perfect correlation.

### DataFrame slicing, selecting, extracting

Below are methods for slicing, selecting, and extracting data.

#### By column

In [ ]:
actors_col = movies_df['actors']

type(actors_col)

This will return a *Series*. To extract a column as a *DataFrame*, we need to pass a list of column names.

In [ ]:
actors_col = movies_df[['actors']]

type(actors_col)

Since it's just a list, adding another column name is easy:

In [ ]:
subset = movies_df[['actors', 'rating']]

In [ ]:
subset.head()

Let's look at getting data by rows.

#### By rows

For rows, we have two options: 

- `.loc` - **loc**ates by name
- `.iloc`- **loc**ates by numerical **i**ndex

Dataset is indexed by movie Title, so to use `.loc` we give it Title of a movie:

In [ ]:
prom = movies_df.loc["Suicide Squad"]

prom

`iloc` will give numerical index of Suicide Squad:

In [ ]:
prom = movies_df.iloc[1]

`loc` and `iloc` are similar to Python `list` slicing. Let's select multiple rows.

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

In [ ]:
movie_subset = movies_df.iloc[1:4]

In [ ]:
movie_subset

One important difference between using `.loc` and `.iloc` to select multiple rows is that `.loc` includes movie *Sing* in result, but when using `.iloc` we're getting rows 1:4 but movie at index 4 (*Suicide Squad*) is not included. 

Slicing with `.iloc` follows same rules as slicing with lists, object at index at end is not included.

#### Filter data
Filter movies DataFrame to show only films directed by Ridley Scott.

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"].head()

Below is conditional selections using numerical values by filtering DataFrame by ratings:

In [ ]:
movies_df[movies_df['rating'] >= 7.5].head(3)

Using logical operators `|` for "or" and `&` for "and".

Filter DataFrame to show only movies by Christopher Nolan OR Ridley Scott:

In [ ]:
movies_df[(movies_df['director'] == 'James Gunn') | (movies_df['director'] == 'David Yates')].head()

We have to use group evaluations with parentheses for Python to evaluate the conditional.

Using `isin()` method is concise:

In [ ]:
movies_df[movies_df['director'].isin(['David Yates', 'James Gunn'])].head()

All movies released between 2003 and 2010, have rating above 7.5, but made below 100 million in revenue.

In [ ]:
movies_df[
    ((movies_df['year'] >= 2003) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 7.5)
    & (movies_df['revenue_millions'] < 100)
]

## Applying functions

It is possible to iterate over a DataFrame or Series as you would with a list, but doing so — especially on large datasets — is very slow.

An efficient alternative is to `apply()` a function to the dataset. For example, we could use a function to convert movies with an 8.0 or greater to a string value of "good" and the rest to "bad" and use this transformed values to create a new column.

First we would create a function that, when given a rating, determines if it's good or bad:

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

Now we want to send the entire rating column through this function, which is what `apply()` does:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

In [ ]:
movies_df.head(2)

The `.apply()` method passes every value in the `rating` column through the `rating_function` and then returns a new Series. This Series is then assigned to a new column called `rating_category`.

Overall, using `apply()` will be much faster than iterating manually over rows because pandas is utilizing vectorization.

> Vectorization: Batch operations are applied to whole arrays instead of individual elements.

## Brief Plotting

Another great thing about pandas is that it integrates with Matplotlib, so you get the ability to plot directly off DataFrames and Series.<br>To get started we need to import Matplotlib (`pip install matplotlib`):

In [ ]:
import matplotlib.pyplot as plt

# set font and plot size to be larger
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)})

**Note:**<br>
For categorical variables utilize Bar Charts* and Boxplots.<br>
For continuous variables utilize Histograms, Scatterplots, Line graphs, and Boxplots.<br>

Let's plot the relationship between ratings and revenue.<br> 
All we need to do is call `.plot()` on `movies_df` with some info about how to construct the plot:

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');

What's with the semicolon? It's not a syntax error, just a way to hide the `<matplotlib.axes._subplots.AxesSubplot at 0x26613b5cc18>` output when plotting in Jupyter notebooks.

If we want to plot a simple Histogram based on a single column, we can call plot on a column:

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

Do you remember the `.describe()` example at the beginning of this tutorial? Well, there's a graphical representation of the interquartile range, called the Boxplot. Let's recall what `describe()` gives us on the ratings column:

In [ ]:
movies_df['rating'].describe()